@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    </br>
    <img src="~/ProductsImages/aler.jpg" style="float:left;"/>
    <br/>
    <h1 style="color:#8b5c7e;">You are Blocked</h1>
    <h3>This account has been blocked, If you want recover it contact admin<h4>reviewry@Reviewry.com</h4> </h3>
</hgroup>
